html {
  background-image: url("background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

html, body {min-height: 100%;}

body {
  background: none;
  background-size: cover;
}

a {
  text-decoration: none;
}

#Name {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 3rem;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0);
  }
}

#Title {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 2.5s steps(100,end) 1s 1 normal both;
}

@keyframes animated-text{
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#Learn-More-Button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background: transparent;
  color: #FFF700;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #FFF700;
  border-radius: 2.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(250%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#Learn-More-Button:hover {
  background: #2C0115;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

#Learn-More-Button:focus {
  outline: none;
}

@media (max-width: 992px) {
  #Name {
    margin-top: 14.25rem;
    font-size: 2.75rem;
  }
  #Title {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  #Name {
    margin-top: 13.5rem;
    font-size: 2.5rem;
  }
  #Title {
    font-size: 1.25rem;
  }
}
